<div class="videos-page">
    <div class="routing-links">
        <div class="top-bar" id="topbar">
            <div class="content">
                <div class="col">
                    <a class="col cursor router-link" [routerLink]="['/home/upload-videos']">Upload Videos</a>
                    <a class="col cursor router-link" [routerLink]="['/home']">Watch Videos</a>
                    <a class="col cursor router-link" (click)="logoutHandler()">logout</a>
                </div>
            </div>
        </div>
    </div>
    <div class="cards" *ngIf="!router.url.match('upload-videos')">
        <mat-card class="example-card" *ngFor="let item of media | async;">
            <img mat-card-image src="{{item.pathOfFile}}" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    {{item.title}}
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>APPROVE</button>
                <button mat-button>REJECT</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="cards" *ngIf="router.url.match('upload-videos')">
        <div class="container">
            <div class="upload-form">
                <div class="logo">
                    <!-- <img src="assets/images/logos/angular-material.png" alt="company_logo"> -->
                </div>
                <div class="title">Upload your media</div>
                <form enctype="multipart/form-data" name="videos-form" [formGroup]="mediaForm" (ngSubmit)="mediaSubmitHandler(mediaForm.value)">
                    <mat-form-field>
                        <input matInput placeholder="Title" formControlName="title">
                    </mat-form-field>
                    <div class="file-group">
                        <input type="file" (change)="readFile($event)">
                    </div>
                    <button [disabled]="mediaForm.invalid" mat-raised-button color="accent" class="submit-button">
                        Upload
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
