<div id="login">
    <a class="router router-link" [routerLink]="'/home'">Watch Videos</a>
    <div id="login-form-wrapper">
        <div id="login-form">
            <div class="logo">
                <img src="assets/images/logos/angular-material.png" alt="company_logo">
            </div>
            <div class="title">LOGIN TO YOUR ACCOUNT</div>
            <form name="loginForm" [formGroup]="loginForm" (ngSubmit)="loginHandler(loginForm.value)" novalidate>
                <mat-form-field>
                    <input matInput placeholder="Email" formControlName="emailId">
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="password" placeholder="Password" formControlName="password">
                </mat-form-field>
                <mat-radio-group formControlName="userType">
                    <mat-radio-button value="CHECKER">Checker</mat-radio-button>
                    <mat-radio-button value="MAKER">Maker</mat-radio-button>
                </mat-radio-group>
                <button mat-raised-button color="accent" class="submit-button" aria-label="LOG IN"
                        [disabled]="loginForm.invalid">
                    LOGIN
                </button>
            </form>
            <div class="register">
                <span class="text">Don't have an account?</span>
                <a class="link" [routerLink]="'/register'">Create an account</a>
            </div>
        </div>
    </div>
</div>
